@use "./reset";

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: grey;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: tomato;
  margin-bottom: 1rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

a {
  color: #007acc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

button {
  background-color: #007acc;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &:hover {
    background-color: #005fa3;
  }
}
